    .sales-data {
        display: flex;
        flex-direction: column;
    }

    .sales-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 5px;
    }

    .name {
        font-weight: bold;
    }