{% extends "layout.html" %}
{% from "_macros.html" import render_field %}
{% block content %}

<div class="container">
  <h1 class="mt-5">Ganancias</h1>
  <form id="ventas-form" method="post" class="mt-5">
    {{ form.csrf_token }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="tipo_seleccion">Seleccionar tipo de ganancias:</label>
          {{ render_field(form.tipo_seleccion, class="form-control", id="tipo_seleccion") }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="fecha">Seleccionar fecha:</label>
          {{ render_field(form.fecha, class="form-control", id="fecha") }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary mt-4">Mostrar Ganancias</button>
      </div>
    </div>
  </form>
  {% if total_ventas is not none or total_compras is not none %}
    <div class="mt-5" id="grafica-container">
      <img src="{{ url_for('static', filename='img/total_ventas_compras_dona.png') }}" alt="Gráfica Circular" class="img-fluid">
    </div>
  {% endif %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-6 text-center">
      {% if ganancias is none %}
        <strong style="color: red; font-size: 24px;">Ganancias: $0</strong>
      {% elif ganancias <= 0 %}
        <strong style="color: red; font-size: 24px;">Ganancias: ${{ ganancias }}</strong>
      {% else %}
        <strong style="color: green; font-size: 24px;">Ganancias: ${{ ganancias }}</strong>
      {% endif %}
    </div>
  </div>
  
  

</div>
<div class="row mt-3">
  <div class="col-md-3">
    <button onclick="toggleGrafica()" class="btn btn-primary btn-block">Mostrar/Ocultar Gráfica</button>
  </div>
  <div class="col-md-3">
    <a href="{{ url_for('ventas.ventas') }}" class="btn btn-primary btn-block">Ventas</a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/ganancias.js') }}"></script>

{% endblock %}
