{% extends "layout.html" %}

{% block content %}
<style>
    .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Ajusta el espacio entre los elementos */
    }

    .producto {
        width: calc(20% - 20px);
        /* Ancho del cuadro del producto, menos el margen */
        margin: 10px;
        /* Margen exterior */
        padding: 10px;
        /* Espacio interno */
        border: 1px solid #ccc;
        /* Borde del cuadro */
        border-radius: 5px;
        /* Bordes redondeados */
        background-color: #f9f9f9;
        /* Color de fondo */
        text-align: center;
        /* Alineación del contenido */
    }

    .producto img {
        max-width: 100%;
        /* La imagen no superará el ancho del contenedor */
        height: auto;
        /* Altura automática */
        margin-bottom: 10px;
        /* Espacio inferior */
    }

    .producto h3 {
        font-size: 16px;
        /* Tamaño de fuente del nombre del producto */
        margin-bottom: 5px;
        /* Espacio inferior */
    }

    .producto p {
        font-size: 14px;
        /* Tamaño de fuente del precio */
        color: #666;
        /* Color del texto */
    }

    /* Estilos para el enlace que envuelve el producto */
    .producto form {
        display: block;
        margin-top: 10px;
        /* Espacio entre el producto y el formulario */
    }

    .producto form input[type="number"] {
        width: 50px;
        /* Ancho del campo de entrada para la cantidad */
        margin-right: 5px;
        /* Espacio entre los campos de entrada */
    }

    .producto form select {
        margin-right: 5px;
        /* Espacio entre los campos de entrada */
    }

    .producto form button {
        background-color: #007bff;
        /* Color de fondo del botón */
        color: #fff;
        /* Color del texto del botón */
        border: none;
        /* Sin borde */
        border-radius: 5px;
        /* Bordes redondeados */
        padding: 5px 10px;
        /* Espacio interno del botón */
        cursor: pointer;
    }

    .producto form button:hover {
        background-color: #0056b3;
        /* Color de fondo del botón al pasar el mouse */
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    /* Estilos para el formulario */
    form {
        margin-top: 20px;
    }

    form input[type="number"] {
        width: 50px;
        margin-right: 5px;
    }

    form select {
        margin-right: 5px;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

    form button:hover {
        background-color: #0056b3;
    }

    /* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para que el modal permanezca en la ventana del navegador */
    z-index: 1; /* Hacer que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado grande */
    background-color: rgb(0,0,0); /* Fondo oscuro */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con transparencia */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe; /* Color de fondo del contenido */
    margin: 15% auto; /* Margen superior e inferior y centrado horizontalmente */
    padding: 20px;
    border: 1px solid #888; /* Borde del contenido */
    width: 80%; /* Ancho del contenido */
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa; /* Color del icono */
    float: right; /* Alinear a la derecha */
    font-size: 28px; /* Tamaño del icono */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; /* Cambiar color al pasar el mouse */
    text-decoration: none; /* Quitar subrayado al pasar el mouse */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
}
</style>

<div class="productos-container">
    {% for producto in productos %}
    <div class="producto">
        <img src="data:image/jpeg;base64,{{ producto.fotografia }}" alt="{{ producto.nombreProducto }}">
        <h3>{{ producto.nombreProducto }}</h3>
        <p>Precio: ${{ producto.precioVenta }}</p>
        <form
            onsubmit="return agregarAlCarrito(event, '{{ producto.idProducto }}', '{{ producto.nombreProducto }}', '{{ producto.precioVenta }}')">
            <input type="number" name="cantidad" value="1" min="1" required style="display: none;">
            <button type="submit">Agregar al carrito</button>
        </form>
    </div>
    {% endfor %}
</div>

<form action="">
    <table id="carrito">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Piezas</th>
                <th>Caja 700g</th>
                <th>Caja 1kg</th>
                <th>Gramos</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="carrito-body">
            <!-- Aquí se agregará dinámicamente el contenido del carrito -->
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right;">Total:</td>
                <td id="total">$0.00</td>
            </tr>
        </tfoot>
    </table>

</form>
<form id="formularioVenta" action="/pv_galleta" method="post">
    <input type="hidden" id="datos" name="datos" />
    <input type="hidden" name="user" value="{{ current_user.nombreUsuario }}" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-success">Generar Venta</button>
    
</form>

<form id="formularioVenta" action="/pv_galleta_ticket" method="post">
    <input type="hidden" id="datos2" name="datos2" />
    <input type="hidden" name="user" value="{{ current_user.nombreUsuario }}" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" id="btnLimpiar" class="btn btn-success">Generar Venta con Ticket</button>
    
</form>

<button onclick="abrirModalSolicitud()" class="btn btn-primary" style="display: flex; margin-left: auto;">Abrir Modal de Solicitud</button>

<!-- Modal -->
<div id="modalSolicitud" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <h2>Agregar Solicitud de Lote</h2>
        <div class="productos-container">
            {% for producto in productos %}
            <div class="producto">
                <img src="data:image/jpeg;base64,{{ producto.fotografia }}" alt="{{ producto.nombreProducto }}">
                <h3>{{ producto.nombreProducto }}</h3>
                <p>Precio: ${{ producto.precioVenta }}</p>
                <form action="/solicitud_lote" method="post">
                    <input type="number" name="cantidad-lotes" value="1" min="1" max="3">
                    <input type="hidden" value="{{ producto.idProducto }}" name="idProducto-lote">
                    <button type="submit" class="btn btn-warning">Agregar Solicitud</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </form>
            </div>
            {% endfor %}
        </div>
        <button onclick="cerrarModal()" class="btn btn-secondary btn-sm">Cerrar</button>
    </div>
</div>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

{% endblock %}